@import url("https://fonts.googleapis.com/css?family=Lobster|Russo+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Russo One", sans-serif;
  /* font-size: 1rem; */
  background: url(https://images.unsplash.com/photo-1471970139290-236911efa901?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2006&q=80)
    no-repeat center fixed;
  background-size: cover;
}

a {
  text-decoration: none !important;
  color: inherit;
}

ul {
  list-style-type: none;
}

.taskItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#taskItemDel {
color: lightcoral;
background: transparent;
border: transparent;
cursor: pointer;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 1;
  margin-bottom: 1rem;
}

.navBackground {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(89, 0, 255)
  );
  color: #ffff;
}
.navHeader {
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  margin-left: 5px;
}

#navChild {
  display: flex;
  align-items: flex-end;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

#home {
  margin-right: 33px;
}

#entries {
  content: " | ";
  /* border-left: 2px #ffff; */
  /* padding-left: 2px; */
}

#about {
  margin-left: 33px;
}

.header {
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  color: #ffff;
}

#dateDiv {
  font-family: "Lobster", cursive;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dateHeader {
  text-decoration: underline;
  color: #ffff;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

#hourGreeting {
  /* font-family: 'Russo One', sans-serif; */
  color: #ffff;
  margin-top: 25px;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.aboutStyle {
  margin-top: 15px;
  font-size: 21px;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.aboutStyle2 {
  /* padding: 25px; */
  font-size: 21px;
  margin: 25px;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

#vidBox{
margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  text-align: center;
}

#hrAbout {
  color: white;
}

.listStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.listStyle2{
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn {
  font-family: "Russo One", sans-serif;
  font-size: 16px;
  margin-top: 15px;
  width: 15%;
  height: 35px;
  opacity: 0.9;
  border-radius: 5px;
  color: #ffff;
  background-image: radial-gradient(rgb(7, 78, 231), rgb(89, 0, 255), black);
}

#listItem {
  font-family: "Russo One", sans-serif;
  color: #ffff;
  font-size: 21px;
  margin-top: 30px;
}

#checkBox {
  margin-right: 10px;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  text-decoration-color: red;
}

.inputGoals {
  margin-top: 37px;
  padding: 7px;
  width: 30%;
  opacity: 0.8;
  border-radius: 5px;
}

/* .addThoughtsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 77px;
} */

#inputThoughts {
  margin-top: 37px;
  padding: 5px;
  min-height: 100px;
  width: 35%;
  font-size: 15px;
  word-wrap: break-word;
  word-break: break-all;
  opacity: 0.8;
  border-radius: 5px;
}

#entryDiv {
  margin-top: 70px;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgb(7, 78, 231), rgb(89, 0, 255), black);
  opacity: 0.85;
  border-radius: 30px;
}

#entryMain {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  box-sizing: border-box;
  border-radius: 15px;
  width: 80%;
  height: 70vh;
  padding: 20px 200px 50px 200px;
  background: white;
  color: black;
  border-radius: 25px;
}

#dateTime {
  font-size: 20px;
  font-family: "Lobster", cursive;
  display: flex;
  justify-content: space-between;
}

#accTask {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#entryTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#addThoughts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addThotHeader {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addThoughtsBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  height: 25vh;
  width: 80vh;
  background-image: linear-gradient(to bottom, rgb(89, 0, 255), black);
  color: white;
  border-radius: 10px;
}

.button-row {
  color: black;
  display: flex;
  /* align-items: flex-end; */
  justify-content: space-evenly;
  margin: 10px;
}

/* .middle-buttons {
 display: flex;
  align-items: center;
  justify-content: space-evenly;

}  */

.buttons {
  background: rgb(89, 0, 255);
  color: #ffff;
  width: 125px;
  font-size: 20px;
  border-radius: 7px;
  margin: 5px;
}

.nextPrev {
  font-family: "Lobster", cursive;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  background-color: transparent;
  border-color: transparent;
}
#version{
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

#rQuote {
  font-family: "Lobster", cursive;
  bottom: 0;
}

.checkIcon {
  margin-right: 10px;
}

.entryIconRight {
  margin-left: 10px;
}

#update-thought {
  margin-top: 37px;
  padding: 7px;
  height: 33%;
  width: 50%;
  opacity: 0.8;
  border-radius: 5px;
  text-align: center;
  word-wrap: normal;
}